shim-version: v0.2.10@sha256:f9040a48106ab06c290fd9b225d4dd53a2daad715c9107594d4310b21592039f
cvm-version: 0.4.15
cpus: 32
memory: 524288
gpus: full
vllm: false

models:
  - name: "deepseek-r1-0528"
    repo: "deepseek-ai/DeepSeek-R1-0528@4236a6af538feda4548eca9ab308586007567f52"
    mpk: "1cacd16f763afa07848c18e564b35699aef1530357873bd9ddd483626312b178_688604053504_16d2e2df-0159-5413-9396-337d023ceb3b"
  
containers:
  - name: "deepseek-r1-0528"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "--ipc", "host",  
      "vllm/vllm-openai:v0.11.0@sha256:014a95f21c9edf6abe0aea6b07353f96baa4ec291c427bb1176dc7c93a85845c",
      "--model", "/tinfoil/mpk/mpk-1cacd16f763afa07848c18e564b35699aef1530357873bd9ddd483626312b178",
      "--tensor-parallel-size", "8",
      "--max-model-len", "131072",
      "--served-model-name", "deepseek-r1-0528",
      "--gpu-memory-utilization", "0.95",
      "--enable-auto-tool-choice",
      "--tool-call-parser", "deepseek_v3",
      "--chat-template", "examples/tool_chat_template_deepseekr1.jinja",
      "--port", "8001"
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  publish-attestation: false
  tls-challenge: dns  
  control-plane: https://api.tinfoil.sh
  paths:
    - /v1/chat/completions
    - /metrics
