shim-version: v0.2.15@sha256:5ca748b384b78b7e686b57ca66d9b3c552038ebab2ce60305004f76e573a8458
cvm-version: 0.4.16
cpus: 32
memory: 524288
gpus: full
vllm: false

models:
  - name: "deepseek-r1-0528"
    repo: "deepseek-ai/DeepSeek-R1-0528@4236a6af538feda4548eca9ab308586007567f52"
    mpk: "1cacd16f763afa07848c18e564b35699aef1530357873bd9ddd483626312b178_688604053504_16d2e2df-0159-5413-9396-337d023ceb3b"
  
containers:
  - name: "deepseek-r1-0528"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "--ipc", "host",
      "vllm/vllm-openai:v0.12.0@sha256:6766ce0c459e24b76f3e9ba14ffc0442131ef4248c904efdcbf0d89e38be01fe",
      "--model", "/tinfoil/mpk/mpk-1cacd16f763afa07848c18e564b35699aef1530357873bd9ddd483626312b178",
      "--tensor-parallel-size", "8",
      "--max-model-len", "131072",
      "--served-model-name", "deepseek-r1-0528",
      "--gpu-memory-utilization", "0.95",
      "--reasoning-parser", "deepseek_r1",
      "--enable-auto-tool-choice",
      "--tool-call-parser", "deepseek_v3",
      "--chat-template", "examples/tool_chat_template_deepseekr1.jinja",
      "--port", "8001"
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  publish-attestation: true
  tls-challenge: dns
  control-plane: https://api.tinfoil.sh
  paths:
    - /v1/chat/completions
    - /metrics
    - /health
